
* {
    background-color: #c3cfe2;
}

.image {
    position: relative;
    width: 400px;
    margin: 50px;
}

.image__img {
    display: block;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 30px;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border: 1px solid lightgrey;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #000;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.3s ease;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.button {
    background-color: white;
}

 @media (min-width: 768px) {
     .image{
display: inline-block;
         }       
}

@media (min-width: 1024px){
    .image{
        width: 350px;
        margin:5%;
    } 
}