@mixin backwhite {
    background:rgb(255, 255, 255);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 30px;
    padding-left: 40px;
    padding-bottom: 0px;
    border-radius: 25px;
   }

h2{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-weight: 100;                  
    color: white;  
    margin-bottom: 0px;
    }

p{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-weight: 100;                  
    color: lightgrey;
}

body{
    background-color: #c3cfe2;
}

.main{
  display: flex;
  align-items: flex-start;
}

.review{
    @include backwhite();
    width: 380px;
    box-shadow: 5px 10px 30px 10px grey;
    margin: 40px;
    padding: 0px;
    overflow: visible;

    &__text{
    @include backwhite();
    font-family: Verdana, Geneva, Tahoma, sans-serif;                    
    line-height: 2;
    color: rgba(47, 51, 61, 0.877);  
    font-weight: 600;
    }

    &__photo{
        display: block;
    border-radius: 100px;
    border: 8px solid rgb(255, 255, 255);
    margin-left: 120px;
    margin-bottom:-20%;
    position: relative;
    }

    &__footer{
    background: #686de0;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 30px;
    padding-top: 70px;
    border-radius: 0px 0px 25px 25px; 
    }
}




